<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NibernateAditionalFields.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NibernateAditionalFields.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>Server=DESKTOP-C8HI84B;Database=AdditionalFields;User Id=mazhar;Password=password;</value>
            </setting>
        </NibernateAditionalFields.Properties.Settings>
    </userSettings>
</configuration>